
@{
    ViewBag.Title = "View";
}

<h2>Test1.Index</h2>

<div style="border-style:solid;position:relative;padding-top:60px">
    <img src="~/Content/20170217.jpg" alt="Alternate Text" style="width:500px;height:300px" />
    <div class="form-control">
        <input type="submit" class="btn btn-default" value="注册" style="position:absolute;left:100px;top:50px" />
    </div>
</div>